
#hoved-con {
    width: 65vw;

    margin: 0 auto;
}

.bilde-og-bildeTekst {
    background-color: rgba(167, 167, 167, 0.525);
    padding: 12px;

    display: flex;
    align-items: center;
    align-items: flex-start;
}

.bilde-for-bildeTekst {
    width: 34vw; 

    margin-right: 0.3vw;
}
.bilde-for-bildeTekst:hover {
    width: 35vw;
}


