html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    
    /*
    background-image: url('img/LawrenceJeromeFogelFirstANCHeadphones.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    */
}

#overskrift {
    background-color: #337AB7;
    color: white;
    padding: 2vw;
    margin: 0;

    margin-left: 5px;
    margin-right: 5px;

    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;

    font-family: "Bauhaus 93";
    font-size: 5vh;
}



.section-con {
    margin-top: 30px;
}

.seksjon-overskrift {
    padding: 2vh;

    /*background-color: rgba(107, 236, 236, 0.573);*/
    background: linear-gradient(180deg, rgba(107,236,236,0.57) 70%, rgba(191, 255, 255, 0.57) 100%);

    border-radius: 5px;
}


#hoved-con {
    width: 65vw;

    margin: 0 auto;

    background-color: white;
}

#nettsideInnhold-con {
    margin: 0 auto;

    width: fit-content;
    background-color: rgba(173, 109, 233, 0.425);
    border: 3px solid rgba(173, 109, 233, 0.667);

    padding: 3%;

    border-radius: 23px;
}

#nettsideInnhold-con a{
    display: block;

    font-size: larger;
}

/*For bilde tekst og boks (med bakgrunns-farge)*/
.bilde-og-bildeTekst {
    background-color: rgba(167, 167, 167, 0.525);
    padding: 12px;

    display: flex;
    align-items: center;
    align-items: flex-start;

    border-radius: 7px;
}

.bilde-for-bildeTekst {
    width: 34vw; 

    margin-right: 0.3vw;
}
.bilde-for-bildeTekst:hover {
    width: 35vw;
}

.bildeTekst-con {
    margin-left: 1vw;
}

.textOgBildeVedSiden-con {
    padding: 12px;
    border: 3px solid rgb(144, 141, 199);

    display: flex;
    align-items: center;
    /*align-items: flex-start;*/
}

.Geogebra-div {
    padding: 12px;
    background-color: rgba(114, 165, 165, 0.664);

    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
}

.Geogebra-img {
    width: 50vw;
}

/*
.YouTube-con {
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    border-radius: 10px;
}
*/

.button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.3vw;
    margin-right: 2vw;
}
  
.button-container button {
    margin-left: 1vw;
    padding: 1vw;
    background-color: #337AB7;
    color: white;
    border: 3px solid white;
    border-radius: 5px;

    font-size: larger;
}


#kilder-con div{
    padding-left: 7vh;
    padding-right: 3vh;

    margin-top: 4vh;
    margin-bottom: 20vh;
}

#kilder-con div p{
    font-size: small;
}